
*.cache
*.cache
.vs/Someren1819/v15/*
SomerenDAL/bin/Debug/*
SomerenLogic/bin/Debug/*
SomerenModel/bin/Debug/*
SomerenUI/bin/Debug/*
SomerenDAL/obj/Debug/*
SomerenLogic/obj/Debug/*
SomerenModel/obj/Debug/*
SomerenUI/obj/Debug/*
*.cache
SomerenUI/obj/Debug/SomerenUI.csprojAssemblyReference.cache
.vs/Someren1819/v15/.suo
